<table>
  <tr>
    <th></th>
    <th>MegaCredits</th>
    <th>Steel</th>
    <th>Titanium</th>
    <th>Plants</th>
    <th>Energy</th>
    <th>Heat</th>
  </tr>
  <tr>
    <td>Amount</td>
    <td>{{playerBoard?.megaCreditsAmount}}</td>
    <td>{{playerBoard?.steelAmount}}</td>
    <td>{{playerBoard?.titaniumAmount}}</td>
    <td>{{playerBoard?.plantsAmount}}</td>
    <td>{{playerBoard?.energyAmount}}</td>
    <td>{{playerBoard?.heatAmount}}</td>
  </tr>
  <tr>
    <td>Production</td>
    <td>{{playerBoard?.megaCreditsProduction}}</td>
    <td>{{playerBoard?.steelProduction}}</td>
    <td>{{playerBoard?.titaniumProduction}}</td>
    <td>{{playerBoard?.plantsProduction}}</td>
    <td>{{playerBoard?.energyProduction}}</td>
    <td>{{playerBoard?.heatProduction}}</td>
  </tr>
</table>
